<form action="/Cadastro" method="POST" id="cadastro-gmestre">

    <div class="campos">
        <label>Mestre</label>
        <input class="campo" type="text" name="txtNome" placeholder="Digite o nome...">
    </div>

    <div class="campos">
        <label>Selecione uma imagem</label>
        <input type="file" name="fsImg">
    </div>

    <div class="campos">
        <label>Texto artigo</label>
        <textarea class="campo" name="txtDescricao"></textarea>
    </div>

    <button class="botao" type="submit">Salvar</button>

</form>
