<div id="container">
    <h1>Grandes mestres</h1>

    <div class="tabela">
        <div class="moldura">
            <!--<img src="./image/mestre_bimba.jpg" width="100px" />-->
            <label>Mestre Bimba</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_pastinha.jpg" width="100px" />-->
            <label>Mestre Pastinha</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_traira.jpg" width="100px" />-->
            <label>Mestre Traira</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_valdemar.jpg" width="100px" />-->
            <label>Mestre Valdemar</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_valdemar.jpg" width="100px" />-->
            <label>Mestre Valdemar</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_valdemar.jpg" width="100px" />-->
            <label>Mestre Valdemar</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_valdemar.jpg" width="100px" />-->
            <label>Mestre Valdemar</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_valdemar.jpg" width="100px" />-->
            <label>Mestre Valdemar</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_valdemar.jpg" width="100px" />-->
            <label>Mestre Valdemar</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_valdemar.jpg" width="100px" />-->
            <label>Mestre Valdemar</label>
        </div>

        <div class="moldura">
            <!--<img src="./image/mestre_valdemar.jpg" width="100px" />-->
            <label>Mestre Valdemar</label>
        </div>
    </div>

</div>
