<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Grandes Mestres</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' href='/css/estilo.css'>

</head>

<body>
    <header>
        <menu>
            <nav id="menu">
                <ul>
                    <li><a class="menu-hover" href="/">Home</a></li>
                    <li><a class="menu-hover" href="#">Mestres</a></li>
                    <li><a class="menu-hover" href="/Cadastro">Cadastro</a></li>
                </ul>
            </nav>
        </menu>
    </header>

    <%- body %>

        <footer>
            <p>&copy; 2021 - todos os direitos reservados a Sávio Pereira</p>
            <script src='/js/script.js'></script>
        </footer>
</body>

</html>
